html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 5vh;
  height: calc(100% - 10vh);
}

p {
  color: hsl(229, 6%, 66%);
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  font-weight: 200;
  font-size: 2rem;
}

h2 em {
  font-weight: 600;
  font-size: 2rem;
}

section {
  padding-bottom: 5vh;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
  height: 20vh;
}

.card h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.supervisor {
  border-top: 2px solid hsl(180, 62%, 55%);
}

.team {
  border-top: 2px solid hsl(0, 78%, 62%);
}

.karma {
  border-top: 2px solid hsl(34, 97%, 64%);
}

.calculator {
  border-top: 2px solid hsl(212, 86%, 64%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}