html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 5vh;
  height: calc(100% - 10vh);
}

h1 {
  font-weight: 200;
  font-size: 2rem;
}

h2 em {
  font-weight: 600;
  font-size: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}