@media screen and (min-width: 950px) {
  body {
    padding: 5vh 10vh;
  }
  .hero {
    margin: 0 auto;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 20px;
  }

  .supervisor {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .team {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .karma {
    grid-column: 2;
    grid-row: 3 / 5;
  }

  .calculator {
    grid-column: 3;
    grid-row: 2 / 4;
  }
}